<ng-container *ngIf="isLoading; else notLoading">
<p>Cargando estudiantes. Espere por favor...</p>
</ng-container>

<ng-template #notLoading>
    <section class="container-fluid">
    <section class="row">
        <p class="col-12 m-0">Cargar nuevos alumnos a la base de datos</p>
        <form *ngIf="( authUser$ | async)?.role === 'admin'"  [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="col-12 d-flex flex-column align-items-start gap-1" action="">
            <div>

                <mat-form-field>
                    <mat-label>Nombre</mat-label>
                    <input type="text" formControlName="firstName" matInput autocomplete="off"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Apellido</mat-label>
                    <input type="text" formControlName="lastName" matInput autocomplete="off"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>DNI</mat-label>
                    <input type="text" formControlName="dni" matInput autocomplete="off"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input type="email" formControlName="email" matInput autocomplete="off"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Telefono</mat-label>
                    <input type="text" formControlName="phone" matInput autocomplete="off"/>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Direccion</mat-label>
                    <input type="text" formControlName="address" matInput autocomplete="off"/>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Ciudad</mat-label>
                    <input type="text" formControlName="city" matInput autocomplete="off"/>
                </mat-form-field>

                <button mat-flat-button type="submit">
                  <mat-icon>save</mat-icon>
                  Guardar
                </button>
            </div>
        </form>
    </section>
</section>

<app-students-list 
  [students]="students" 
  (onEdit)="onEdit($event)" 
  (onDelete)="onDelete(($event.id.toString()))"
></app-students-list>
</ng-template>